ody {
    background-color: slategray;
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

hr {
    width: 500px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    border: 0;
}

#game-board {
	width: 450px;
	height: 450px;
	margin: 0 auto;

    background-color: rgb(83, 90, 93);
    color: white;
    border: 6px solid rgb(159, 176, 181);
    border-radius: 10px;
	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game-cell {
    border: 6px solid rgb(2, 2, 5);
    font-size: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.winning-game-cell {
    background-color: white;
    color: skyblue;
}

#game-restart-button {
    height: 50px;
    width: 150px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(246, 252, 255);
    color: rgb(21, 5, 255);
    font-size: 20px;
    margin-top: 20px;
}