body {
  background-color: black;
  color: white;
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  gap: 60px;
}

.input {
  padding: 8px 12px;
  font-size: 36px;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 4px;
  margin: 10px;
  color: white;
  text-align: center;
  background-color: transparent;
  margin-bottom: 100px;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 10px red;
}

.button {
  display: flex;
  padding: 20px 40px;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 16px;
  text-decoration: none;
  color: white;
  font-size: 40px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.reset-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  padding: 4px 8px;
  border-radius: 8px;
  color: white;
  border: 2px solid rgb(255, 0, 0);
  background-color: transparent;
}

.main-title {
    font-size: 4rem;
    margin-bottom: 10px;
    color: #ff4c4c;
  }

.subtitle {
    font-size: 2rem;
    margin-bottom: 30px;
  }

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }